/* applies to all the elements */
* {
	box-sizing: border-box;
    border: 0;
    margin: 0;
    color: black;
}

.block {
    display: block;
}

hr {
color: #111;
}

hr-cl {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    color: #111;
}

aside {
	position: fixed;
	left: 0px;
	float: left;
	width: 20%;
	background-color: #7d97ad;
}

figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.head-text {
    color: black;
    text-transform: uppercase;
    position: relative;
    text-align: right;
    font-family: "Arial","Times New Roman", Times, serif;
    padding: 5px;
}

.head-text h1,p {
    color: black;
    bottom: 0px;
}

.upper-text {
float: right;
text-transform: uppercase;
}

.logo {
    float: left;
    width: 160px;
    height: 100px;
}

.banner {
    width:100%;
    height:auto;
    padding: 0px;
}

#fw {
    text-align: center;
  color: #7d97ad;
  border: 2px solid #02b3e4;
  border-radius: 8px;
}

.column {
    margin: 15px 15px 15px 15px;
    padding: 2px;
}

.column:last-child {
    padding-bottom: 60px;
}

.column::after {
    content: '';
    clear: both;
    display: inline-block;
}

.column div {
    text-align: center;
    position: relative;
    float: left;
    width: 300px;
    margin: 15px 15px 15px 15px;
    padding: 0;
}

.column div:first-child {
    margin: 15px 15px 15px 15px;
}

.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    color: #444;
    font-size: 18px;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover06 figure img {
    display: block;
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover06 figure:hover img {
    display: block;
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

/* Flashing */
.hover13:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
/* the following class is used to print text which is over the banner image */
.text_over_image {
    color: black;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
    display: block;
    }

strong, em,a {
    padding: 2px
}

.foo {
    border: 2px solid #02b3e4;
    border-radius: 8px;
}

.navbar-text {
    float: right;
    color: inherit;
    text-decoration: none;
}

.art-text{
    color: black;
    text-align: center;
}

.bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }

.margin {
    margin-bottom: 45px;
}

.img-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}


